.ticket-card {
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    position: relative;
    background-color: white;
  }
  
  .ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .ticket-cam {
    font-weight: bold;
    color: #8d8d8d;
  }
  
  .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .ticket-title-wrapper {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .ticket-checkbox {
    margin-right: 10px;
    transform: scale(1.2);
  }
  
  .ticket-title {
    margin: 0;
  }
  
  .ticket-title.done {
    color: gray;
  }
  
  .ticket-tag {

    color: #8d8d8d;
    padding: 3px 5px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .ticket-user,
  .ticket-status,
  .ticket-priority {
    margin: 5px 0;
  }
  
  .status-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    border: 2px solid white;
  }
  
  .available {
    background-color: yellow;
  }
  
  .not-available {
    background-color: grey;
  }
  

  .ticket-header {
    position: relative;
  }
  
  .user-photo {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
  }
  
  .status-circle {
    position: absolute; 
    bottom: 0;
    right: 0; 
    width: 10px; 
    height: 10px;
    border-radius: 50%;
  }
  
  .available {
    background-color: green;
  }
  
  .not-available {
    background-color: red;
  }
  
  .icon-background {
  background-color: rgb(215, 215, 215);
  border-radius: 5px;
  padding: 5px; 
  display: inline-block;
  padding-top: 2px;
}
